<ul>
{{#devices}}
    <li>
        <div id="device-entry-{{serialNumber}}" class="device-info-box">
            <div class="device-header">{{deviceType}}</div>
            <div class="device-detail">serial: {{serialNumber}}</div>
            {{#ethernetIP}}
            <div class="device-detail">Ethernet: {{ethernetIP}}</div>
            {{/ethernetIP}}
            {{#wifiIP}}
            <div class="device-detail">Wifi: {{wifiIP}}</div>
            {{/wifiIP}}

            {{#availableByUSB}}
            <button class="btn btn-link connect-btn" id="device-entry-{{serialNumber}}-usb-btn" type="button">
                Connect by USB
            </button>
            {{/availableByUSB}}
            {{#wifiIP}}
            <button class="btn btn-link connect-btn" id="device-entry-{{serialNumber}}-wifi-btn" type="button">
                Connect by WiFi
            </button>
            {{/wifiIP}}
            {{#ethernetIP}}
            <button class="btn btn-link connect-btn" id="device-entry-{{serialNumber}}-ethernet-btn" type="button">
                Connect by Ethernet
            </button>
            {{/ethernetIP}}
        </div>
    </li>
{{/devices}}
</ul>